/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*here will be ONLY the pallete colors*/
@font-face {
  font-family: "open-sans";
  src: url('../fonts/../fonts/OpenSans-Regular.ttf?1391241573') format('truetype');
}
@font-face {
  font-family: "open-sans-bold";
  src: url('../fonts/../fonts/OpenSans-Bold.ttf?1391241573') format('truetype');
}
/*General Styles*/
/* line 6, ../scss/global.scss */
body {
  background: #444444;
}

/* line 9, ../scss/global.scss */
h1, h2, h3, h4, h5, h6, p, div, body {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 600;
  color: #323334;
}

/* line 15, ../scss/global.scss */
h1 {
  line-height: 36px;
}

/* line 18, ../scss/global.scss */
h2 {
  line-height: 28px;
}

/* line 21, ../scss/global.scss */
a, a:link, a:visited {
  color: #0b4f73;
  text-decoration: none;
}
/* line 24, ../scss/global.scss */
a:hover, a:link:hover, a:visited:hover {
  color: #093953;
  text-decoration: underline;
}

/* line 29, ../scss/global.scss */
button, input[type="reset"], input[type="submit"], input[type="button"], a {
  border-radius: 0px;
}

/* line 32, ../scss/global.scss */
#section-header, #section-content {
  background: #efefef;
}

/* line 35, ../scss/global.scss */
.region {
  min-height: 1px;
}

/* line 38, ../scss/global.scss */
html.js input.form-autocomplete {
  width: 100%;
}

/*--------------------------------------------Header---------------------------------------------*/
/* line 42, ../scss/global.scss */
#zone-branding {
  padding-top: 20px;
}

/* line 46, ../scss/global.scss */
.branding-data .logo-img {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  padding: 0px 20px;
}
/* line 52, ../scss/global.scss */
.branding-data .site-name-slogan {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
/* line 56, ../scss/global.scss */
.branding-data .site-name-slogan h1.site-name, .branding-data .site-name-slogan h2.site-name {
  font-size: 33px;
  font-style: italic;
}
/* line 59, ../scss/global.scss */
.branding-data .site-name-slogan h1.site-name a, .branding-data .site-name-slogan h2.site-name a {
  color: #0b4f73;
}

/* line 65, ../scss/global.scss */
#zone-menu {
  margin-bottom: 20px;
  /****************************Responsive menu********************************/
}
/* line 67, ../scss/global.scss */
#zone-menu .navigation {
  background: #363636;
  border-bottom: 4px solid black;
  box-shadow: 0px -8px 12px 0px #c0e1ec;
}
/* line 71, ../scss/global.scss */
#zone-menu .navigation ul {
  overflow: hidden;
}
/* line 73, ../scss/global.scss */
#zone-menu .navigation ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  border-left: 1px solid white;
  margin: 0px 0px;
}
/* line 79, ../scss/global.scss */
#zone-menu .navigation ul li.first {
  border-left: none;
}
/* line 82, ../scss/global.scss */
#zone-menu .navigation ul li:hover {
  background: #034948;
}
/* line 84, ../scss/global.scss */
#zone-menu .navigation ul li:hover a {
  text-decoration: none;
}
/* line 88, ../scss/global.scss */
#zone-menu .navigation ul li a {
  color: white;
  padding: 5px;
}
/* line 96, ../scss/global.scss */
#zone-menu .responsive-menus.responsified span.toggler {
  box-shadow: none;
  background: #363636;
}
/* line 100, ../scss/global.scss */
#zone-menu .responsive-menus.responsified .responsive-menus-simple {
  background: #363636;
  border-bottom: 4px solid black;
  box-shadow: none;
  border-radius: 0px;
}
/* line 106, ../scss/global.scss */
#zone-menu .responsive-menus.responsified ul.responsive-menus-simple li a {
  border-bottom: none;
}

/* line 110, ../scss/global.scss */
.select-language {
  float: right;
  margin-top: 20px;
}
/* line 113, ../scss/global.scss */
.select-language ul {
  overflow: hidden;
  margin-bottom: 0;
}
/* line 116, ../scss/global.scss */
.select-language ul li {
  list-style: none;
  float: left;
  margin: 10px 0px 10px 10px;
}
/* line 120, ../scss/global.scss */
.select-language ul li a {
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 12px;
}
/* line 125, ../scss/global.scss */
.select-language ul li a img {
  float: right;
}

/****************Block Search******************/
/* line 134, ../scss/global.scss */
.block-search .content {
  padding: 10px 0;
}
/* line 136, ../scss/global.scss */
.block-search .content .form-text {
  margin-top: 15px;
}
/* line 139, ../scss/global.scss */
.block-search .content input[type="text"] {
  width: 78%;
  float: left;
}
/* line 143, ../scss/global.scss */
.block-search .content input[type="submit"] {
  border: none;
  color: white;
  background: #022952;
  border-radius: 0px;
  text-shadow: none;
  margin-top: 15px;
  width: 20%;
  float: right;
}

/*----------------------------------------Content----------------------------------------------------*/
/* line 156, ../scss/global.scss */
.breadcrumb {
  padding-bottom: 10px;
}

/********************************Like Dislike***********************************/
/* line 160, ../scss/global.scss */
.dislike-container-entity-node, .like-container-entity-node {
  float: none;
  margin: 0px 5px;
  display: inline-block;
}

/**************************************User Block*******************************************/
/* line 166, ../scss/global.scss */
.block-user {
  display: none;
}

/****************Block Candidate party******************/
/* line 170, ../scss/global.scss */
#block-views-candidates-of-party-block-1 {
  margin-top: 30px;
}
/* line 172, ../scss/global.scss */
#block-views-candidates-of-party-block-1 .content {
  padding: 10px;
  background: #aaaaaa;
  border-bottom: 4px solid #444444;
  color: white;
}
/* line 177, ../scss/global.scss */
#block-views-candidates-of-party-block-1 .content a {
  color: white;
}

/****************Block OP Helper******************/
/* line 185, ../scss/global.scss */
.block-open-politic-helper#block-open-politic-helper-contribute-reference .content {
  background: url("../images/bg-header-reference.png") center;
  border-bottom: none;
  min-height: 140px;
}
/* line 191, ../scss/global.scss */
.block-open-politic-helper div {
  color: white;
}
/* line 195, ../scss/global.scss */
.block-open-politic-helper.block-powered-by .content {
  border-bottom: none;
  background: none;
}
/* line 201, ../scss/global.scss */
.block-open-politic-helper.block-open-politic-helper-contributor-menu-popup .content {
  border-bottom: none;
  background: none;
  color: black;
}
/* line 207, ../scss/global.scss */
.block-open-politic-helper .content {
  color: white;
  background: #205b78;
  border-bottom: 4px solid #03323c;
}
/* line 208, ../scss/global.scss */
.block-open-politic-helper .content a {
  color: white;
}
/* line 214, ../scss/global.scss */
.block-open-politic-helper .content input[type="submit"] {
  border: none;
  color: white;
  background: #03323c;
  border-radius: 0px;
  text-shadow: none;
}
/* line 224, ../scss/global.scss */
.block-open-politic-helper.reference-add .content a {
  text-align: center;
}
/* line 229, ../scss/global.scss */
.block-open-politic-helper.reference-legal, .block-open-politic-helper.reference-acusation, .block-open-politic-helper.reference-information {
  background: #205b78;
}
/* line 231, ../scss/global.scss */
.block-open-politic-helper.reference-legal .block-title, .block-open-politic-helper.reference-acusation .block-title, .block-open-politic-helper.reference-information .block-title {
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0 0 5px 0;
}
/* line 237, ../scss/global.scss */
.block-open-politic-helper.reference-legal .views-field-title, .block-open-politic-helper.reference-acusation .views-field-title, .block-open-politic-helper.reference-information .views-field-title {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: bold;
}
/* line 242, ../scss/global.scss */
.block-open-politic-helper.reference-legal .views-field-created, .block-open-politic-helper.reference-acusation .views-field-created, .block-open-politic-helper.reference-information .views-field-created {
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 248, ../scss/global.scss */
.block-open-politic-helper.reference-acusation {
  opacity: 0.9;
}
/* line 251, ../scss/global.scss */
.block-open-politic-helper.reference-information {
  opacity: 0.8;
}

/* line 255, ../scss/global.scss */
#block-system-main {
  margin-bottom: 20px;
}

/* View overrides*/
/* line 259, ../scss/global.scss */
.views-exposed-widgets {
  margin-bottom: 20px;
}

/* line 263, ../scss/global.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0px;
}
/* line 265, ../scss/global.scss */
.views-exposed-form .views-exposed-widget label {
  float: left;
}
/* line 268, ../scss/global.scss */
.views-exposed-form .views-exposed-widget .views-widget {
  float: left;
  padding-left: 15px;
}
/* line 273, ../scss/global.scss */
.views-exposed-form .views-submit-button {
  padding-left: 15px;
}
/* line 275, ../scss/global.scss */
.views-exposed-form .views-submit-button .form-submit {
  margin: 0px;
}

/*
 * View Versus
 */
/* line 284, ../scss/global.scss */
.view-versus .views-matrix {
  border-bottom: 4px solid #03323c;
}
/* line 288, ../scss/global.scss */
.view-versus .views-matrix-col-header a {
  color: #FFF;
}
/* line 290, ../scss/global.scss */
.view-versus .views-matrix-col-header a img {
  vertical-align: middle;
}

/* line 296, ../scss/global.scss */
table.views-matrix tbody tr th.views-matrix-row-header,
table.views-matrix thead tr th.views-matrix-col-header {
  background: #205b78;
  color: #FFF;
}

/* line 302, ../scss/global.scss */
.view-parties .view-content {
  background: white;
}
/* line 304, ../scss/global.scss */
.view-parties .view-content .views-field-field-logo {
  text-align: center;
}
/* line 307, ../scss/global.scss */
.view-parties .view-content .views-field-title {
  text-align: center;
}

/* line 314, ../scss/global.scss */
.candidates .views-row .group-right {
  width: 270px;
}

/* line 320, ../scss/global.scss */
.candidates-page #edit-field-location-of-government-tid-wrapper {
  margin-left: 20px;
  display: none;
}
/* line 324, ../scss/global.scss */
.candidates-page .views-row {
  background: #fff;
  border-bottom: 2px solid #ababab;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 100px;
}
/* line 330, ../scss/global.scss */
.candidates-page .views-row .field-name-field-hierarchical-government, .candidates-page .views-row .field-name-field-location-of-government {
  display: none;
}
/* line 333, ../scss/global.scss */
.candidates-page .views-row .field-name-field-location-of-government .lineage-item-level-0, .candidates-page .views-row .hierarchical-select-item-separator {
  display: none;
}
/* line 336, ../scss/global.scss */
.candidates-page .views-row .group-left {
  margin-right: 5px;
  width: 100px;
}
/* line 340, ../scss/global.scss */
.candidates-page .views-row .group-left .field-name-field-image .field-item {
  text-align: center;
}
/* line 345, ../scss/global.scss */
.candidates-page .views-row .group-right {
  width: 59%;
}
/* line 348, ../scss/global.scss */
.candidates-page .views-row .group-right .field-name-title h2 {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 26px;
  padding-top: 7px;
}
/* line 355, ../scss/global.scss */
.candidates-page .views-row .group-right .field-name-node-link {
  float: right;
}

/* line 362, ../scss/global.scss */
#region-sidebar-second h2.block-title {
  font-style: italic;
  padding-left: 15px;
}
/* line 366, ../scss/global.scss */
#region-sidebar-second .block {
  margin-bottom: 20px;
}
/* line 368, ../scss/global.scss */
#region-sidebar-second .block .content {
  padding: 10px 10px 10px 15px;
}

/* line 374, ../scss/global.scss */
.sing-in-block .content {
  background: #034948;
  border-bottom: 4px solid #008322;
}
/* line 377, ../scss/global.scss */
.sing-in-block .content label, .sing-in-block .content a {
  color: white;
}
/* line 380, ../scss/global.scss */
.sing-in-block .content h3 {
  display: none;
}
/* line 385, ../scss/global.scss */
.sing-in-block .content .item-list ul li {
  margin: 0;
}
/* line 389, ../scss/global.scss */
.sing-in-block .content .item-list .hybridauth-widget {
  float: right;
}
/* line 391, ../scss/global.scss */
.sing-in-block .content .item-list .hybridauth-widget li {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
/* line 395, ../scss/global.scss */
.sing-in-block .content .item-list .hybridauth-widget li span {
  background-size: 30px;
}

/* line 404, ../scss/global.scss */
.context-hierarchical-government .node-candidate {
  background: #fff;
  border-bottom: 2px solid #ababab;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 409, ../scss/global.scss */
.context-hierarchical-government .node-candidate .group-left {
  margin-right: 15px;
  width: 100px;
}
/* line 413, ../scss/global.scss */
.context-hierarchical-government .node-candidate .group-right {
  width: auto;
}
/* line 416, ../scss/global.scss */
.context-hierarchical-government .node-candidate .group-right .field-name-title h2 {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 26px;
  padding-top: 7px;
}
/* line 423, ../scss/global.scss */
.context-hierarchical-government .node-candidate .group-right .field-name-node-link {
  float: right;
}

/**************************************Contact form*******************************************/
/* line 430, ../scss/global.scss */
.contact-form {
  background: #032949;
  padding: 10px;
}
/* line 434, ../scss/global.scss */
.contact-form .form-item label {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
/* line 439, ../scss/global.scss */
.contact-form .form-item input[type="text"] {
  width: 100%;
}

/********************************Node General Styles***********************************/
/* line 445, ../scss/global.scss */
ul.inline li {
  padding: 0px;
}

/* line 448, ../scss/global.scss */
.node ol, .node ul {
  padding-left: 2em;
}

/* line 451, ../scss/global.scss */
.node-links ul li a, .comment-links ul li a {
  border-radius: 0px;
  float: none;
  display: inline-block;
  margin: 0 0.5em;
}

/* line 458, ../scss/global.scss */
#comment-wrapper h3, #comment-wrapper .field-name-comment-body p {
  margin-bottom: 15px;
}
/* line 461, ../scss/global.scss */
#comment-wrapper .comment {
  margin-bottom: 20px;
}

/* line 466, ../scss/global.scss */
.page-contact .region-content .region-inner, .page-node-add-reference .region-content .region-inner {
  background: #fff;
  border-bottom: 2px solid #ababab;
  margin-bottom: 20px;
  padding: 15px;
}

/* line 474, ../scss/global.scss */
.page-node-add-reference .group-left, .page-node-add-reference .group-right {
  float: none;
  width: 100%;
}
/* line 480, ../scss/global.scss */
.page-node-add-reference #field-related-to-values .form-type-textfield label {
  display: none;
}
/* line 483, ../scss/global.scss */
.page-node-add-reference #field-related-to-values .form-type-textfield input {
  width: 100% !important;
}

/****************Page Node******************/
/* line 492, ../scss/global.scss */
.page-node .node .content {
  background: white;
  padding: 15px;
  border-bottom: 2px solid #ababab;
}

/****************Page Reference******************/
/* line 502, ../scss/global.scss */
.node-type-reference #region-content .node {
  background: white;
  padding: 15px;
  border-bottom: 2px solid #ababab;
}
/* line 508, ../scss/global.scss */
.node-type-reference #region-content .field-name-field-source iframe {
  width: 100% !important;
}

/********************************Node Type Candidate & Party***********************************/
/* line 516, ../scss/global.scss */
.node-type-candidate .region-content, .node-type-party .region-content, .node-type-reference .region-content {
  background: #fff;
  border-bottom: 2px solid #ababab;
  margin-bottom: 20px;
}
/* line 521, ../scss/global.scss */
.node-type-candidate .region-content .block-open-politic-helper .content, .node-type-party .region-content .block-open-politic-helper .content, .node-type-reference .region-content .block-open-politic-helper .content {
  background: none;
  border: 0px;
}
/* line 527, ../scss/global.scss */
.node-type-candidate .region-content .presidente .field-name-field-hierarchical-government, .node-type-candidate .region-content .presidente .field-name-field-location-of-government, .node-type-party .region-content .presidente .field-name-field-hierarchical-government, .node-type-party .region-content .presidente .field-name-field-location-of-government, .node-type-reference .region-content .presidente .field-name-field-hierarchical-government, .node-type-reference .region-content .presidente .field-name-field-location-of-government {
  display: none;
}
/* line 532, ../scss/global.scss */
.node-type-candidate .region-content .diputado .field-name-field-location-of-government .lineage-item-level-0, .node-type-candidate .region-content .diputado .hierarchical-select-item-separator, .node-type-party .region-content .diputado .field-name-field-location-of-government .lineage-item-level-0, .node-type-party .region-content .diputado .hierarchical-select-item-separator, .node-type-reference .region-content .diputado .field-name-field-location-of-government .lineage-item-level-0, .node-type-reference .region-content .diputado .hierarchical-select-item-separator {
  display: none;
}
/* line 536, ../scss/global.scss */
.node-type-candidate .region-content .node, .node-type-party .region-content .node, .node-type-reference .region-content .node {
  padding: 15px;
}
/* line 539, ../scss/global.scss */
.node-type-candidate .region-content .field-name-body, .node-type-party .region-content .field-name-body, .node-type-reference .region-content .field-name-body {
  margin-top: 20px;
}
/* line 542, ../scss/global.scss */
.node-type-candidate .region-content .content, .node-type-party .region-content .content, .node-type-reference .region-content .content {
  padding: 0px;
}
/* line 544, ../scss/global.scss */
.node-type-candidate .region-content .content .field, .node-type-party .region-content .content .field, .node-type-reference .region-content .content .field {
  clear: both;
}
/* line 549, ../scss/global.scss */
.node-type-candidate .region-content .content .group-header .field-name-field-related-to .field-items .field-item, .node-type-party .region-content .content .group-header .field-name-field-related-to .field-items .field-item, .node-type-reference .region-content .content .group-header .field-name-field-related-to .field-items .field-item {
  padding: 0px 5px;
}
/* line 553, ../scss/global.scss */
.node-type-candidate .region-content .content .group-header .flag-outer-report-abusive-content, .node-type-party .region-content .content .group-header .flag-outer-report-abusive-content, .node-type-reference .region-content .content .group-header .flag-outer-report-abusive-content {
  float: right;
  background: #01aaec;
  padding: 5px;
}
/* line 557, ../scss/global.scss */
.node-type-candidate .region-content .content .group-header .flag-outer-report-abusive-content span a, .node-type-party .region-content .content .group-header .flag-outer-report-abusive-content span a, .node-type-reference .region-content .content .group-header .flag-outer-report-abusive-content span a {
  color: white;
}
/* line 562, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left, .node-type-party .region-content .content .group-left, .node-type-reference .region-content .content .group-left {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 15px;
}
/* line 567, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-image, .node-type-candidate .region-content .content .group-left .field-name-field-logo, .node-type-party .region-content .content .group-left .field-name-field-image, .node-type-party .region-content .content .group-left .field-name-field-logo, .node-type-reference .region-content .content .group-left .field-name-field-image, .node-type-reference .region-content .content .group-left .field-name-field-logo {
  text-align: center;
}
/* line 569, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-image img, .node-type-candidate .region-content .content .group-left .field-name-field-logo img, .node-type-party .region-content .content .group-left .field-name-field-image img, .node-type-party .region-content .content .group-left .field-name-field-logo img, .node-type-reference .region-content .content .group-left .field-name-field-image img, .node-type-reference .region-content .content .group-left .field-name-field-logo img {
  width: 100%;
  height: 100%;
}
/* line 574, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left img, .node-type-party .region-content .content .group-left img, .node-type-reference .region-content .content .group-left img {
  margin-bottom: 15px;
}
/* line 577, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-share-this, .node-type-party .region-content .content .group-left .field-name-share-this, .node-type-reference .region-content .content .group-left .field-name-share-this {
  text-align: center;
}
/* line 580, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-facebook a, .node-type-candidate .region-content .content .group-left .field-name-field-twitter a, .node-type-candidate .region-content .content .group-left .field-name-field-google-plus a, .node-type-party .region-content .content .group-left .field-name-field-facebook a, .node-type-party .region-content .content .group-left .field-name-field-twitter a, .node-type-party .region-content .content .group-left .field-name-field-google-plus a, .node-type-reference .region-content .content .group-left .field-name-field-facebook a, .node-type-reference .region-content .content .group-left .field-name-field-twitter a, .node-type-reference .region-content .content .group-left .field-name-field-google-plus a {
  display: inline-block;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  padding-left: 22px;
  padding-right: 3px;
  white-space: nowrap;
}
/* line 589, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-facebook, .node-type-party .region-content .content .group-left .field-name-field-facebook, .node-type-reference .region-content .content .group-left .field-name-field-facebook {
  text-align: center;
}
/* line 591, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-facebook a, .node-type-party .region-content .content .group-left .field-name-field-facebook a, .node-type-reference .region-content .content .group-left .field-name-field-facebook a {
  background: url("http://w.sharethis.com/images/facebook_16.png") no-repeat;
}
/* line 595, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-twitter, .node-type-party .region-content .content .group-left .field-name-field-twitter, .node-type-reference .region-content .content .group-left .field-name-field-twitter {
  text-align: center;
}
/* line 597, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-twitter a, .node-type-party .region-content .content .group-left .field-name-field-twitter a, .node-type-reference .region-content .content .group-left .field-name-field-twitter a {
  background: url("http://w.sharethis.com/images/twitter_16.png") no-repeat;
}
/* line 601, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-google-plus, .node-type-party .region-content .content .group-left .field-name-field-google-plus, .node-type-reference .region-content .content .group-left .field-name-field-google-plus {
  text-align: center;
}
/* line 603, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .field-name-field-google-plus a, .node-type-party .region-content .content .group-left .field-name-field-google-plus a, .node-type-reference .region-content .content .group-left .field-name-field-google-plus a {
  background: url("http://w.sharethis.com/images/googleplus_16.png") no-repeat;
}
/* line 607, ../scss/global.scss */
.node-type-candidate .region-content .content .group-left .like_dislike_center, .node-type-party .region-content .content .group-left .like_dislike_center, .node-type-reference .region-content .content .group-left .like_dislike_center {
  text-align: center;
}
/* line 611, ../scss/global.scss */
.node-type-candidate .region-content .content .group-right, .node-type-party .region-content .content .group-right, .node-type-reference .region-content .content .group-right {
  width: 100%;
  padding-left: 5px;
}
/* line 614, ../scss/global.scss */
.node-type-candidate .region-content .content .group-right .field-name-share-this, .node-type-party .region-content .content .group-right .field-name-share-this, .node-type-reference .region-content .content .group-right .field-name-share-this {
  margin: 15px 0;
}
/* line 619, ../scss/global.scss */
.node-type-candidate .region-content .content .group-footer .field-name-field-source, .node-type-party .region-content .content .group-footer .field-name-field-source, .node-type-reference .region-content .content .group-footer .field-name-field-source {
  margin-top: 20px 0px;
}
/* line 624, ../scss/global.scss */
.node-type-candidate .region-content .like-container-entity-node > div, .node-type-party .region-content .like-container-entity-node > div, .node-type-reference .region-content .like-container-entity-node > div {
  font-size: 30px;
}
/* line 627, ../scss/global.scss */
.node-type-candidate .region-content .dislike-container-entity-node > div, .node-type-party .region-content .dislike-container-entity-node > div, .node-type-reference .region-content .dislike-container-entity-node > div {
  font-size: 30px;
}
/* line 630, ../scss/global.scss */
.node-type-candidate .region-content .like-container-entity-node img, .node-type-party .region-content .like-container-entity-node img, .node-type-reference .region-content .like-container-entity-node img {
  width: auto;
}
/* line 633, ../scss/global.scss */
.node-type-candidate .region-content .dislike-container-entity-node img, .node-type-party .region-content .dislike-container-entity-node img, .node-type-reference .region-content .dislike-container-entity-node img {
  width: auto;
}
/* line 637, ../scss/global.scss */
.node-type-candidate .popup-element-title, .node-type-party .popup-element-title, .node-type-reference .popup-element-title {
  background-position: right center;
}
/* line 641, ../scss/global.scss */
.node-type-candidate .popup-element:hover, .node-type-party .popup-element:hover, .node-type-reference .popup-element:hover {
  cursor: pointer;
}
/* line 645, ../scss/global.scss */
.node-type-candidate .comment, .node-type-party .comment, .node-type-reference .comment {
  position: relative;
}
/* line 649, ../scss/global.scss */
.node-type-candidate .comment-wrapper h2.comment-form, .node-type-party .comment-wrapper h2.comment-form, .node-type-reference .comment-wrapper h2.comment-form {
  font-size: 17px;
}
/* line 652, ../scss/global.scss */
.node-type-candidate .comment-wrapper .flag-outer-report-abusive-comment, .node-type-party .comment-wrapper .flag-outer-report-abusive-comment, .node-type-reference .comment-wrapper .flag-outer-report-abusive-comment {
  top: 0px;
  right: 0px;
  position: absolute;
  background: #01aaec;
  padding: 5px;
}
/* line 658, ../scss/global.scss */
.node-type-candidate .comment-wrapper .flag-outer-report-abusive-comment span a, .node-type-party .comment-wrapper .flag-outer-report-abusive-comment span a, .node-type-reference .comment-wrapper .flag-outer-report-abusive-comment span a {
  color: white;
}
/* line 663, ../scss/global.scss */
.node-type-candidate .comment-wrapper .comment-links .flag-report_abusive_comment, .node-type-party .comment-wrapper .comment-links .flag-report_abusive_comment, .node-type-reference .comment-wrapper .comment-links .flag-report_abusive_comment {
  display: none;
}

/*------------------------------------------------Footer---------------------------------------------*/
/* line 670, ../scss/global.scss */
#zone-footer-wrapper {
  border-top: 4px solid black;
  padding-top: 20px;
}
/* line 673, ../scss/global.scss */
#zone-footer-wrapper p {
  color: white;
}
/* line 676, ../scss/global.scss */
#zone-footer-wrapper #zone-footer {
  color: white;
}
/* line 678, ../scss/global.scss */
#zone-footer-wrapper #zone-footer a {
  color: #aeafad;
}
