/*here will be ONLY the pallete colors*/
@font-face {
  font-family: "open-sans";
  src: url('../fonts/../fonts/OpenSans-Regular.ttf?1391241573') format('truetype');
}
@font-face {
  font-family: "open-sans-bold";
  src: url('../fonts/../fonts/OpenSans-Bold.ttf?1391241573') format('truetype');
}
/* line 4, ../scss/install.scss */
body {
  background: #efefef;
  margin: 0px;
}

/* line 8, ../scss/install.scss */
h1, h2, h3, h4, h5, h6, p, div, body, label {
  letter-spacing: -0.05em;
  font-family: "open-sans",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #323334;
}

/* line 15, ../scss/install.scss */
h1 {
  font-size: 1.5em;
}

/* line 18, ../scss/install.scss */
a, a:link, a:visited {
  font-family: "open-sans";
  color: #0b4f73;
  text-decoration: none;
}
/* line 22, ../scss/install.scss */
a:hover, a:link:hover, a:visited:hover {
  color: #093953;
  text-decoration: underline;
}

/* line 28, ../scss/install.scss */
.maintenance-page #header, .maintenance-page #page {
  width: 960px;
  margin: 0px auto;
}
/* line 32, ../scss/install.scss */
.maintenance-page #header {
  padding-top: 20px;
}
/* line 34, ../scss/install.scss */
.maintenance-page #header #logo {
  margin-left: 60px;
  margin-bottom: -5px;
}
/* line 38, ../scss/install.scss */
.maintenance-page #header #site-name {
  display: none;
}
/* line 42, ../scss/install.scss */
.maintenance-page #page {
  background: white;
  box-shadow: 0px -8px 12px 0px #c0e1ec;
}
/* line 45, ../scss/install.scss */
.maintenance-page #page #sidebar-first {
  float: left;
  width: 270px;
  clear: both;
}
/* line 49, ../scss/install.scss */
.maintenance-page #page #sidebar-first #sidebar-background {
  width: 30px;
  margin-left: 20px;
}
/* line 52, ../scss/install.scss */
.maintenance-page #page #sidebar-first #sidebar-background ol.task-list {
  width: 270px;
  padding: 0px;
  list-style-type: none;
  list-style-image: none;
}
/* line 57, ../scss/install.scss */
.maintenance-page #page #sidebar-first #sidebar-background ol.task-list li {
  color: #9b9b9b;
  height: 20px;
  padding: 6px 0 0 40px;
  margin: 0 0 22px 0;
}
/* line 62, ../scss/install.scss */
.maintenance-page #page #sidebar-first #sidebar-background ol.task-list li.active {
  background: transparent url("../images/tasks-active.png") no-repeat 0px 0px;
  color: #093953;
}
/* line 66, ../scss/install.scss */
.maintenance-page #page #sidebar-first #sidebar-background ol.task-list li.done {
  background: transparent url("../images/tasks-complete.png") no-repeat 1px 0px;
  color: #323334;
}
/* line 74, ../scss/install.scss */
.maintenance-page #page #content {
  float: right;
  width: 550px;
  padding-right: 20px;
  clear: none;
}
/* line 79, ../scss/install.scss */
.maintenance-page #page #content input[type="submit"] {
  border: none;
  color: white;
  background: #022952;
  border-radius: 0px;
  text-shadow: none;
  margin-top: 15px;
  padding: 10px;
  font-size: 15px;
}
/* line 88, ../scss/install.scss */
.maintenance-page #page #content input[type="submit"]:hover {
  cursor: pointer;
}
/* line 92, ../scss/install.scss */
.maintenance-page #page #content input[type="search"], .maintenance-page #page #content input[type="text"], .maintenance-page #page #content input[type="password"] {
  padding: 5px;
  font-size: 15px;
}
/* line 96, ../scss/install.scss */
.maintenance-page #page #content .form-item .description {
  font-size: 13px;
  color: #323334;
}
/* line 100, ../scss/install.scss */
.maintenance-page #page #content .form-item label, .maintenance-page #page #content .fieldset-description, .maintenance-page #page #content .password-strength-title {
  font-family: "open-sans-bold";
  font-size: 13px;
  color: #323334;
}
/* line 105, ../scss/install.scss */
.maintenance-page #page #content .password-strength {
  width: 15em;
}
/* line 108, ../scss/install.scss */
.maintenance-page #page #content .form-type-password {
  width: 500px;
}
/* line 111, ../scss/install.scss */
.maintenance-page #page #content fieldset {
  border: none;
}
/* line 113, ../scss/install.scss */
.maintenance-page #page #content fieldset.form-wrapper {
  max-width: 530px;
}
/* line 115, ../scss/install.scss */
.maintenance-page #page #content fieldset.form-wrapper .fieldset-wrapper {
  border: 1px solid #ccc;
  padding: 15px;
  max-width: 530px;
}
/* line 120, ../scss/install.scss */
.maintenance-page #page #content fieldset.form-wrapper .fieldset-legend {
  font-size: 25px;
}
