/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/*--------------------------------------------Header---------------------------------------------*/
/* line 3, ../scss/transparency-alpha-default.scss */
.branding-data {
  float: left;
}
/* line 5, ../scss/transparency-alpha-default.scss */
.branding-data .logo-img {
  width: auto;
}
/* line 8, ../scss/transparency-alpha-default.scss */
.branding-data .site-name-slogan {
  width: auto;
}

/* line 14, ../scss/transparency-alpha-default.scss */
.block-search .content input[type="text"] {
  width: 67%;
}
/* line 17, ../scss/transparency-alpha-default.scss */
.block-search .content input[type="submit"] {
  width: 32%;
}

/*--------------------------------------------Content---------------------------------------------*/
/* line 26, ../scss/transparency-alpha-default.scss */
.node-type-candidate .region-content .content .group-left, .node-type-party .region-content .content .group-left, .node-type-reference .region-content .content .group-left {
  width: 28%;
  margin: 0px auto;
  text-align: left;
}
/* line 31, ../scss/transparency-alpha-default.scss */
.node-type-candidate .region-content .content .group-right, .node-type-party .region-content .content .group-right, .node-type-reference .region-content .content .group-right {
  width: 70%;
  padding-left: 5px;
}

/* line 45, ../scss/transparency-alpha-default.scss */
.block-user {
  display: block;
}
