/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
/*  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/*--------------------------------------------Header---------------------------------------------*/
/* line 5, ../scss/transparency-alpha-default-normal.scss */
.branding-data {
  float: left;
  margin-left: 60px;
}
/* line 8, ../scss/transparency-alpha-default-normal.scss */
.branding-data .logo-img {
  width: auto;
}
/* line 11, ../scss/transparency-alpha-default-normal.scss */
.branding-data .site-name-slogan {
  width: auto;
}

/* line 15, ../scss/transparency-alpha-default-normal.scss */
.block-search {
  float: right;
}
/* line 17, ../scss/transparency-alpha-default-normal.scss */
.block-search .content {
  padding: 10px 0;
}
/* line 19, ../scss/transparency-alpha-default-normal.scss */
.block-search .content .form-text {
  margin-top: 15px;
}
/* line 22, ../scss/transparency-alpha-default-normal.scss */
.block-search .content input[type="submit"] {
  border: none;
  margin-top: 15px;
}

/*--------------------------------------------Content---------------------------------------------*/
/* line 32, ../scss/transparency-alpha-default-normal.scss */
.node-type-candidate .region-content .content .group-left, .node-type-party .region-content .content .group-left, .node-type-reference .region-content .content .group-left {
  width: 28%;
  margin: 0px auto;
  text-align: left;
}
/* line 37, ../scss/transparency-alpha-default-normal.scss */
.node-type-candidate .region-content .content .group-right, .node-type-party .region-content .content .group-right, .node-type-reference .region-content .content .group-right {
  width: 70%;
  padding-left: 5px;
}

/* line 45, ../scss/transparency-alpha-default-normal.scss */
.candidates-page .views-row {
  width: 45%;
  margin: 8px 5px;
  display: inline-block;
  vertical-align: top;
}
/* line 50, ../scss/transparency-alpha-default-normal.scss */
.candidates-page .views-row .diputado {
  min-height: 180px;
}
/* line 53, ../scss/transparency-alpha-default-normal.scss */
.candidates-page .views-row.views-row-odd {
  margin-left: 0px;
}
/* line 56, ../scss/transparency-alpha-default-normal.scss */
.candidates-page .views-row.views-row-even {
  margin-right: 0px;
}

/* line 62, ../scss/transparency-alpha-default-normal.scss */
#candidates-div .form-select {
  max-width: 90%;
}

/* line 66, ../scss/transparency-alpha-default-normal.scss */
.contact-form {
  width: 60%;
}
/* line 69, ../scss/transparency-alpha-default-normal.scss */
.contact-form .form-item input[type="text"] {
  width: 100%;
}

/* line 74, ../scss/transparency-alpha-default-normal.scss */
.block-user {
  display: block;
}
