/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/*Fixing responsive logo site*/
/*--------------------------------------------Header---------------------------------------------*/
/* line 7, ../scss/transparency-alpha-default-narrow.scss */
.branding-data {
  float: left;
  margin-left: 60px;
}
/* line 10, ../scss/transparency-alpha-default-narrow.scss */
.branding-data .logo-img {
  width: auto;
}
/* line 13, ../scss/transparency-alpha-default-narrow.scss */
.branding-data .site-name-slogan {
  width: auto;
}
/* line 16, ../scss/transparency-alpha-default-narrow.scss */
.branding-data .site-name {
  margin-left: 15px;
}

/* line 21, ../scss/transparency-alpha-default-narrow.scss */
.block-search .content {
  float: right;
  margin-top: 15px;
}
/* line 24, ../scss/transparency-alpha-default-narrow.scss */
.block-search .content .form-text {
  margin: 0;
}
/* line 27, ../scss/transparency-alpha-default-narrow.scss */
.block-search .content input[type="text"] {
  width: 70%;
  float: left;
}
/* line 31, ../scss/transparency-alpha-default-narrow.scss */
.block-search .content input[type="submit"] {
  width: 30%;
  margin: 0;
}

/*--------------------------------------------Content---------------------------------------------*/
/* line 41, ../scss/transparency-alpha-default-narrow.scss */
.node-type-candidate .region-content .content .group-left, .node-type-party .region-content .content .group-left, .node-type-reference .region-content .content .group-left {
  width: 38%;
  margin: 0px auto;
  text-align: left;
}
/* line 46, ../scss/transparency-alpha-default-narrow.scss */
.node-type-candidate .region-content .content .group-right, .node-type-party .region-content .content .group-right, .node-type-reference .region-content .content .group-right {
  width: 60%;
  padding-left: 5px;
}

/* line 60, ../scss/transparency-alpha-default-narrow.scss */
#candidates-div .form-select {
  max-width: 80%;
}

/* line 64, ../scss/transparency-alpha-default-narrow.scss */
.contact-form {
  width: 60%;
}
