/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import "colors";
@import "fonts";
/*General Styles*/
body{
  background:$body-background;
}
h1, h2, h3, h4, h5, h6, p, div, body {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 600;
  color: $font-default;
}
h1{
  line-height:36px;
}
h2{
  line-height:28px;
}
a ,a:link,a:visited{
  color: $font-link;
  text-decoration: none;
  &:hover{
    color: $font-link-hover;
    text-decoration: underline;
  }
}
button, input[type="reset"], input[type="submit"], input[type="button"] ,a{
  border-radius: 0px;
}
#section-header, #section-content{
  background:$content-background;
}
.region{
  min-height: 1px;
}
html.js input.form-autocomplete{
  width:100%;
}
/*--------------------------------------------Header---------------------------------------------*/
#zone-branding{
  padding-top:20px;
}
.branding-data{
  .logo-img{
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding:0px 20px;
  }
  .site-name-slogan{
    width: 100%;
    margin:0px auto;
    text-align: center;
    h1.site-name, h2.site-name {
      font-size: 33px;
      font-style: italic;
      a{
        color: $font-link;
      }
    }
  }
}
#zone-menu{
  margin-bottom:20px;
  .navigation{
    background: $mainmenu-background;
    border-bottom: 4px solid $mainmenu-border;
    box-shadow: 0px -8px 12px 0px $mainmenu-shadow;
    ul{
      overflow: hidden;
      li{
        list-style: none;
        display: inline-block;;
        padding: 10px 10px;
        border-left: 1px solid white;
        margin: 0px 0px;
        &.first{
          border-left: none;
        }
        &:hover{
          background: $mainmenu-background-hover;
          a{
            text-decoration:none;
          }
        }
        a {
          color: $mainmenu-color;
          padding: 5px;
        }
      }
    }
  }
  /****************************Responsive menu********************************/
  .responsive-menus.responsified span.toggler{
    box-shadow:none;
    background:$mainmenu-background;
  }
  .responsive-menus.responsified .responsive-menus-simple{
    background:$mainmenu-background;
    border-bottom: 4px solid $mainmenu-border;
    box-shadow:none;
    border-radius:0px;
  }
  .responsive-menus.responsified ul.responsive-menus-simple li a{
    border-bottom:none;
  }
}
.select-language {
  float: right;
  margin-top:20px;
  ul {
    overflow: hidden;
    margin-bottom: 0;
    li{
      list-style: none;
      float: left;
      margin: 10px 0px 10px 10px;
      a{
        text-indent: -9999px;
        display: block;
        width: 16px;
        height: 12px;
        img{
          float: right;
        }
      }
    }
  }
}
/****************Block Search******************/
.block-search{
  .content{
    padding:10px 0;
    .form-text{
      margin-top:15px;
    }
    input[type="text"]{
      width: 78%;
      float: left;
    }
    input[type="submit"]{
      border: none;
      color: white;
      background: $block-search-border;
      border-radius:0px;
      text-shadow: none;
      margin-top: 15px;
      width: 20%;
      float: right;
    }
  }
}
/*----------------------------------------Content----------------------------------------------------*/
.breadcrumb{
  padding-bottom:10px;
}
/********************************Like Dislike***********************************/
.dislike-container-entity-node,.like-container-entity-node{
  float: none;
  margin: 0px 5px;
  display: inline-block;
}
/**************************************User Block*******************************************/
.block-user{
  display: none;
}
/****************Block Candidate party******************/
#block-views-candidates-of-party-block-1{
  margin-top: 30px;
  .content{
    padding:10px;
    background: $candidates-block-bg;
    border-bottom: 4px solid $candidates-block-border;
    color: white;
    a{
      color: white;
    }
  }
}
/****************Block OP Helper******************/
.block-open-politic-helper{
  &#block-open-politic-helper-contribute-reference{
    .content{
      background:url("../images/bg-header-reference.png") center;
      border-bottom:none;
      min-height: 140px;
    }
  }
  div{
    color: white;
  }
  &.block-powered-by{
    .content{
      border-bottom:none;
      background: none;
    }
  }
  &.block-open-politic-helper-contributor-menu-popup{
    .content{
      border-bottom:none;
      background: none;
      color: $font-color;
    }
  }
  .content{
    a{
      color: white;
    }
    color: white;
    background: $block-helper;
    border-bottom: 4px solid $block-helper-border;
    input[type="submit"]{
      border: none;
      color: white;
      background: $block-helper-border;
      border-radius:0px;
      text-shadow: none;
    }
  }
  &.reference-add{
    .content{
      a{
        text-align: center;
      }
    }
  }
  &.reference-legal,&.reference-acusation,&.reference-information{
    background: $block-helper;
    .block-title{
      color: white;
      font-weight:bold;
      padding: 0;
      margin:0 0 5px 0;
    }
    .views-field-title{
      padding: 0;
      margin:0 0 5px 0;
      font-weight:bold;
    }
    .views-field-created{
      font-weight: normal;
      padding: 0;
      margin:0 0 10px 0;
    }
  }
  &.reference-acusation{
    opacity: 0.9;
  }
  &.reference-information{
    opacity: 0.8;
  }
}
#block-system-main{
  margin-bottom:20px;
}
/* View overrides*/
.views-exposed-widgets{
  margin-bottom:20px;
}
.views-exposed-form {
  .views-exposed-widget{
    padding:0px;
    label{
      float:left;
    }
    .views-widget{
      float:left;
      padding-left:15px;
    }
  }
  .views-submit-button{
    padding-left:15px;
    .form-submit{
      margin:0px;
    }
  }
}
/*
 * View Versus
 */
.view-versus{
  .views-matrix{
    border-bottom: 4px solid $block-helper-border;
  }
  .views-matrix-col-header{
    a{
      color:#FFF;
      img{
        vertical-align:middle;
      }
    }
  }
}
table.views-matrix tbody tr th.views-matrix-row-header,
table.views-matrix thead tr th.views-matrix-col-header{
  background: $block-helper;
  color:#FFF;
}
.view-parties{
  .view-content {
    background: white;
    .views-field-field-logo{
      text-align: center;
    }
    .views-field-title{
      text-align: center;
    }
  }
}
.candidates {
  .views-row {
    .group-right {
      width: 270px;
    }
  }
}
.candidates-page{
  #edit-field-location-of-government-tid-wrapper{
    margin-left:20px;
    display: none;
  }
  .views-row {
    background: #fff;
    border-bottom: 2px solid #ababab;
    padding: 10px;
    margin-bottom:20px;
    min-height: 100px;
    .field-name-field-hierarchical-government,.field-name-field-location-of-government{
      display: none;
    }
    .field-name-field-location-of-government .lineage-item-level-0,.hierarchical-select-item-separator{
      display: none;
    }
    .group-left {
      margin-right: 5px;
      width: 100px;
      .field-name-field-image{
        .field-item{
          text-align: center;
        }
      }
    }
    .group-right {
      width: 59%;
      .field-name-title {
        h2 {
          margin-bottom: 5px;
          font-size: 22px;
          line-height: 26px;
          padding-top: 7px;
        }
      }
      .field-name-node-link {
        float: right;
      }
    }
  }
}
#region-sidebar-second {
  h2.block-title{
    font-style: italic;
    padding-left: 15px;
  }
  .block {
    margin-bottom: 20px;
    .content{
      padding: 10px 10px 10px 15px;
    }
  }
}
.sing-in-block {
  .content {
    background: $block-green;
    border-bottom: 4px solid $block-green-border;
    label, a {
      color: $block-green-color;
    }
    h3 {
      display: none;
    }
    .item-list{
      ul {
        li {
          margin: 0;
        }
      }
      .hybridauth-widget{
        float: right;
        li {
          height: 30px;
          width: 30px;
          margin: 0 5px;
          span {
            background-size: 30px;
          }
        }
      }
    }
  }
}
.context-hierarchical-government{
  .node-candidate {
    background: #fff;
    border-bottom: 2px solid #ababab;
    padding: 10px;
    margin-bottom:20px;
    .group-left {
      margin-right: 15px;
      width: 100px;
    }
    .group-right {
      width: auto;
      .field-name-title {
        h2 {
          margin-bottom: 5px;
          font-size: 22px;
          line-height: 26px;
          padding-top: 7px;
        }
      }
      .field-name-node-link {
        float: right;
      }
    }
  }
}
/**************************************Contact form*******************************************/
.contact-form{
  background: $contact-form-background;
  padding: 10px;
  .form-item{
    label{
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
    input[type="text"]{
      width: 100%;
    }
  }
}
/********************************Node General Styles***********************************/
ul.inline li{
  padding:0px;
}
.node ol, .node ul {
  padding-left: 2em;
}
.node-links ul li a, .comment-links ul li a{
  border-radius: 0px;
  float:none;
  display:inline-block;
  margin: 0 0.5em;
}
#comment-wrapper {
  h3, .field-name-comment-body p{
    margin-bottom:15px;
  }
  .comment{
    margin-bottom:20px;
  }
}
.page-contact,.page-node-add-reference{
  .region-content .region-inner{
    background: #fff;
    border-bottom: 2px solid #ababab;
    margin-bottom:20px;
    padding:15px;
  }
}
.page-node-add-reference{
  .group-left,.group-right{
    float:none;
    width:100%;
  }
  #field-related-to-values{
    .form-type-textfield{
      label{
        display:none;
      }
      input{
        width:100% !important;
      }
    }
  }
}
/****************Page Node******************/
.page-node,{
  .node{
    .content{
      background: white;
      padding: 15px;
      border-bottom: 2px solid #ababab;
    }
  }
}
/****************Page Reference******************/
.node-type-reference{
  #region-content{
    .node{
      background: white;
      padding: 15px;
      border-bottom: 2px solid #ababab;
    }
    .field-name-field-source{
      iframe{
        width:100% !important;
      }
    }
  }
}
/********************************Node Type Candidate & Party***********************************/
.node-type-candidate,.node-type-party,.node-type-reference{
  .region-content{
    background: #fff;
    border-bottom: 2px solid #ababab;
    margin-bottom:20px;
    .block-open-politic-helper{
      .content{
        background:none;
        border:0px;
      }
    }
    .presidente{
      .field-name-field-hierarchical-government,.field-name-field-location-of-government{
        display: none;
      }
    }
    .diputado{
      .field-name-field-location-of-government .lineage-item-level-0,.hierarchical-select-item-separator{
        display: none;
      }
    }
    .node{
      padding:15px;
    }
    .field-name-body{
      margin-top:20px;
    }
    .content{
      padding:0px;
      .field{
        clear: both;
      }
      .group-header{
        .field-name-field-related-to{
          .field-items .field-item{
            padding: 0px 5px;
          }
        }
        .flag-outer-report-abusive-content{
          float: right;
          background:#01aaec;
          padding:5px;
          span a{
            color: white;
          }
        }
      }
      .group-left{
        width: 100%;
        margin: 0px auto;
        text-align: center;
        padding-bottom: 15px;
        .field-name-field-image,.field-name-field-logo{
          text-align: center;
          img{
            width: 100%;
            height: 100%;
          }
        }
        img{
          margin-bottom:15px;
        }
        .field-name-share-this{
          text-align: center;
        }
        .field-name-field-facebook a,.field-name-field-twitter a,.field-name-field-google-plus a{
          display: inline-block;
          font-size: 11px;
          height: 16px;
          line-height: 16px;
          padding-left: 22px;
          padding-right: 3px;
          white-space: nowrap;
        }
        .field-name-field-facebook{
          text-align: center;
          a{
            background: url("http://w.sharethis.com/images/facebook_16.png") no-repeat;
          }
        }
        .field-name-field-twitter{
          text-align: center;
          a{
            background: url("http://w.sharethis.com/images/twitter_16.png") no-repeat;
          }
        }
        .field-name-field-google-plus{
          text-align: center;
          a{
            background: url("http://w.sharethis.com/images/googleplus_16.png") no-repeat;
          }
        }
        .like_dislike_center{
          text-align: center;
        }
      }
      .group-right{
        width: 100%;
        padding-left:5px;
        .field-name-share-this{
          margin:15px 0;
        }
      }
      .group-footer{
        .field-name-field-source{
          margin-top: 20px 0px;
        }
      }
    }
    .like-container-entity-node > div{
      font-size: 30px;
    }
    .dislike-container-entity-node > div{
      font-size: 30px;
    }
    .like-container-entity-node img {
      width: auto;
    }
    .dislike-container-entity-node img{
      width: auto;
    }
  }
  .popup-element-title{
    background-position: right center;
  }
  .popup-element{
    &:hover{
      cursor:pointer;
    }
  }
  .comment{
    position: relative;
  }
  .comment-wrapper{
    h2.comment-form{
      font-size: 17px;
    }
    .flag-outer-report-abusive-comment{
      top: 0px;
      right: 0px;
      position: absolute;
      background:#01aaec;
      padding:5px;
      span a{
        color: white;
      }
    }
    .comment-links{
      .flag-report_abusive_comment{
        display: none;
      }
    }
  }
}
/*------------------------------------------------Footer---------------------------------------------*/
#zone-footer-wrapper{
  border-top: 4px solid $footer-border;
  padding-top:20px;
  p{
    color: white;
  }
  #zone-footer{
    color: white;
    a{
      color:$footer-links;
    }
  }
}
