@import "compass/utilities";
@import "colors";
@import "fonts";
body{
  background: $content-background;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, div, body,label {
  letter-spacing: -0.05em;
  font-family: "open-sans",sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $font-default;
}
h1{
  font-size: 1.5em;
}
a ,a:link,a:visited{
  font-family: "open-sans";
  color: $font-link;
  text-decoration: none;
  &:hover{
    color: $font-link-hover;
    text-decoration: underline;
  }
}
.maintenance-page{
  #header, #page{
    width: 960px;
    margin: 0px auto;
  }
  #header{
    padding-top:20px;
    #logo{
      margin-left:60px;
      margin-bottom: -5px;
    }
    #site-name{
      display: none;
    }
  }
  #page{
    background:white;
    box-shadow: 0px -8px 12px 0px $mainmenu-shadow;
    #sidebar-first{
      @include float-left;
      width:270px;
      clear: both;
      #sidebar-background{
        width: 30px;
        margin-left: 20px;
        ol.task-list {
          width: 270px;
          padding:0px;
          list-style-type: none;
          list-style-image: none;
          li{
            color: $font-inactive;
            height: 20px;
            padding: 6px 0 0 40px;
            margin: 0 0 22px 0;
            &.active{
              background: transparent url("../images/tasks-active.png") no-repeat 0px 0px;
              color: $font-link-hover;
            }
            &.done{
              background: transparent url("../images/tasks-complete.png") no-repeat 1px 0px;
              color: $font-default;
            }
          }
        }
      }
    }
    #content{
      @include float-right;
      width: 550px;
      padding-right: 20px;
      clear: none;
      input[type="submit"]{
        border: none;
        color: white;
        background: $block-search-border;
        border-radius:0px;
        text-shadow: none;
        margin-top: 15px;
        padding: 10px;
        font-size: 15px;
        &:hover{
          cursor: pointer;
        }
      }
      input[type="search"],input[type="text"],input[type="password"]{
        padding: 5px;
        font-size: 15px;
      }
      .form-item .description{
        font-size: 13px;
        color:$font-default;
      }
      .form-item label,.fieldset-description,.password-strength-title{
        font-family: "open-sans-bold";
        font-size: 13px;
        color:$font-default;
      }
      .password-strength{
        width: 15em;
      }
      .form-type-password{
        width: 500px;
      }
      fieldset{
        border:none;
        &.form-wrapper{
          max-width: 530px;
          .fieldset-wrapper{
            border: 1px solid #ccc;
            padding: 15px;
            max-width: 530px;
          }
          .fieldset-legend{
            font-size: 25px;
          }
        }
      }
    }
  }
}
