/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/*Fixing responsive logo site*/
/*--------------------------------------------Header---------------------------------------------*/
.branding-data{
  float: left;
  margin-left: 60px;
  .logo-img{
    width: auto;
  }
  .site-name-slogan{
    width: auto;
  }
  .site-name{
    margin-left:15px;
  }
}
.block-search{
  .content{
    float: right;
    margin-top: 15px;
    .form-text{
      margin:0;
    }
    input[type="text"]{
      width: 70%;
      float: left;
    }
    input[type="submit"]{
      width: 30%;
      margin:0;
    }
  }
}
/*--------------------------------------------Content---------------------------------------------*/
.node-type-candidate,.node-type-party,.node-type-reference{
  .region-content{
    .content{
      .group-left{
        width: 38%;
        margin: 0px auto;
        text-align: left;
      }
      .group-right{
        width: 60%;
        padding-left:5px;
      }
    }
  }
}
.candidates-page{
  .views-row {
    .group-right {
    }
  }
}
#candidates-div{
  .form-select {
    max-width:80%;
  }
}
.contact-form{
 width:60%;
}
