/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/*--------------------------------------------Header---------------------------------------------*/
.branding-data{
  float: left;
  .logo-img{
    width: auto;
  }
  .site-name-slogan{
    width: auto;
  }
}
.block-search{
  .content{
    input[type="text"]{
      width: 67%;
    }
    input[type="submit"]{
      width: 32%;
    }
  }
}
/*--------------------------------------------Content---------------------------------------------*/
.node-type-candidate,.node-type-party,.node-type-reference{
  .region-content{
    .content{
      .group-left{
        width: 28%;
        margin: 0px auto;
        text-align: left;
      }
      .group-right{
        width: 70%;
        padding-left:5px;
      }
    }
  }
}
.candidates-page{
  .views-row {
    .group-right {

    }
  }
}
.block-user{
  display: block;
}
