/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
/*  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/*--------------------------------------------Header---------------------------------------------*/
.branding-data{
  float: left;
  margin-left: 60px;
  .logo-img{
    width: auto;
  }
  .site-name-slogan{
    width: auto;
  }
}
.block-search{
  float: right;
  .content{
    padding:10px 0;
    .form-text{
      margin-top:15px;
    }
    input[type="submit"]{
      border: none;
      margin-top: 15px;
    }
  }
}
/*--------------------------------------------Content---------------------------------------------*/
.node-type-candidate,.node-type-party,.node-type-reference{
  .region-content{
    .content{
      .group-left{
        width: 28%;
        margin: 0px auto;
        text-align: left;
      }
      .group-right{
        width: 70%;
        padding-left:5px;
      }
    }
  }
}
.candidates-page{
  .views-row {
    width: 45%;
    margin: 8px 5px;
    display: inline-block;
    vertical-align: top;
    .diputado{
      min-height: 180px;
    }
    &.views-row-odd{
      margin-left: 0px;
    }
    &.views-row-even{
      margin-right: 0px;
    }
  }
}
#candidates-div{
  .form-select {
    max-width:90%;
  }
}
.contact-form{
  width:60%;
  .form-item{
    input[type="text"]{
      width: 100%;
    }
  }
}
.block-user{
  display: block;
}
